$sound-equalizer-section-map: (
    backgroundColor: #4BE45F
);

$simple-loading-section-map: (
    backgroundColor: #0076b9
);

$radar-loading-section-map: (
    backgroundColor: #da1f9b
);

$map-list: $sound-equalizer-section-map, $simple-loading-section-map, $radar-loading-section-map;