  @import 'mixins.scss';
  
  $animation-name: 'jump';
  
  #simple-loading {
    width: 71px;
    position: relative;

    @include middleScreenAlign();

    .circle {
      width: 15px;
      height: 15px;
      background-color: #FFF;
      border-radius: 50%;
      margin-left: 3px;
      margin-right: 3px;
      display: inline-block;
      position: relative;
      animation-name: jump;    
      animation-direction: normal;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(1,.03,0,.99);
    }

    @for $i from 0 through 2 {
        .circle#{$i + 1} {
            animation-delay: #{$i/10}s;
        }
    }
}

@include keyframes(#{$animation-name}) {
    0% {
        top: -25px;
        opacity: 1;
    }

    10% {
        opacity: .4;
    }

    25% {
        top: 25px;
    }

    40% {
        opacity: 1;
    }

    50% {
        top: -25px;
    }

    65% {
        opacity: .4;
    }

    75% {
        top: 25px;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: -25px;
        opacity: 1;
    }
}